---
---
<html>
	{% include head.html %}

	<body style="padding-top: 0">

	{% include navbar.html %}

	<section class="welcome" id="welcome">
		<div class="container">
			<div class="intro-heading">Pavel Komarov<br></div>
			<div class="intro-lead-in">Learner, Practitioner, Goober</div>
		</div>
	</section>

	<a class="anchor" id="about"></a>
	<section>
		<div class="container">
			<img src="/assets/my_face.jpg" alt="Pavel Komarov" class="float-start me-4 mb-3 rounded" style="width: 150px;"/>

			<p>Welcome. Here you will find some of who I am through projects I've turned into pages and things I've collected or written.</p>

			<p>Feel free to reach out. You will find links to my email, resume, github, etc. above.</p>

			<div class="clearfix"></div>
		</div>
	</section>

	<a class="anchor" id="things"></a>
	<section style="background-color: #eeeeee">
		<div class="container">
			<div class="row">
			{% assign all_tiles = site.things | concat: site.data.external_tiles | sort: 'order' %}
			{% for tile in all_tiles %}
				{% assign href = tile.permalink | default: tile.url %}
				<div class="col-6 col-md-3 gallery-item">
					<div class="gallery-thumbnail{% if tile.img %} has-image{% elsif tile.emoji %} has-emoji{% endif %}" style="background: {{ tile.color | default: '#40c9a2' }};">
						<a href="{{ href }}">
							{% if tile.img %}<img src="/assets/{{ tile.img }}" alt="{{ tile.title }}" />{% elsif tile.emoji %}<div class="tile-emoji">{{ tile.emoji }}</div>{% endif %}
							<div class="tile-title">{{ tile.title }}</div>
							<div class="tile-overlay">
								<h4>{{ tile.title }}</h4>
								<p>{{ tile.description | default: tile.subtitle }}</p>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>

	{% include js.html %}
	</body>
</html>
