---
---
<html>
    {% include head.html %}

	<body style="padding-top: 0">

	{% include navbar.html %}

	<section class="welcome" id="welcome">
		<div class="container">
			<div class="intro-heading">Hi, I'm Pavel<br></div>
			<div class="intro-lead-in">Electrical and Software Engineer</div>
		</div>
	</section>
	<img id="purple_stars" class="hidden" src="theme/purple_stars_full.jpg"
		onload="document.getElementById('welcome').style.backgroundImage='url(theme/purple_stars.jpg)';">

	{% include about.html %}
	{% include projects.html %}
	{% include writing.html %}
	{% include popup.html %}
	<!-- include intro.html This is a fun video section.-->
	<!-- {% include contact.html %} -->
	{% include js.html %}

	</body>
</html>
