<!-- Brief About Section -->
<a class="anchor" id="about"></a>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
			</div>
		</div>

		<p>Thanks for visiting, and welcome.</p>

		<p>This site presents some of who I am through projects I've done, jobs I've worked, and things I've written.</p>

		<p>My aspirations are evolving, but I am deeply interested in Math, Computer Science, that intersection of the two called Machine Learning, Finance, developments in Tissue Engineering, ponderings like Man's Search for Meaning, and pragmatic tips on how to live a fuller life.</p>

		<p>I'm always open to hearing about opportunities that fit my skill set, so if the below makes you curious, reach out. You will find links to my email, resume, github, etc. in the header.</p>

	</div>
</section>
