/* This file overrides the default formatting of some Bootstrap objects and defines
 * a few new things for use with this theme (originally called "agency", adapted in
 * to "event", and now mine).
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
	position: absolute;
	margin: 0;
	padding-bottom: 90px;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #{{ site.color.secondary-dark }};
}

/* does it actually look better to have more padding as screen gets narrower? */
@media screen and (max-width : 1200px){
  body {
	  padding-bottom: 100px;
  }
}

@media screen and (max-width : 768px){
  body {
	  padding-bottom: 150px;
  }
}

.bg-light-gray {
	background-color: #f7f7f7;
}

.text-muted {
	color: #{{ site.color.muted }};
}

p {
	line-height: 1.5;
	font-size: 110%;
}

a {
	outline: 0;
	color: #{{ site.color.primary }};
}

a:hover,
a:focus,
a:active {
	color: #{{ site.color.secondary }};
	text-decoration: none; /* no underlining links */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: 700; /* 700 is standard bold */
}

.img-centered {
	margin: 0 auto;
}

.btn-xl {
	padding: 20px 40px;
	font-size: 18px;
	font-weight: 700;
}

.btn-sm {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 700;
}

.btn-sm, .btn-xl {
	color: #fff;
	background-color: #{{ site.color.primary }};
	border: none;
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
}

.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active,
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.open .dropdown-toggle.btn-xl {
	border-color: #{{ site.color.primary }};
	color: #fff;
	background-color: #{{ site.color.secondary }};
}

.navbar-toggler {
	transition: all .3s;
	color: #fff;
	background-color: #{{ site.color.primary }};
}

.navbar-toggler:hover{
	background-color: #{{ site.color.secondary }};
}

.nav>a:focus {
	color: #fff; /* override the default links in focus being colored thing */
}

.nav>a:hover { /* override the override in the case of hovering a focused link */
	color: #{{ site.color.primary }};
}

.nav>a.active {
    border-radius: 3px;
    color: #fff;
    background-color: #{{ site.color.primary }};
}

.nav>a.active:hover {
    background-color: #{{ site.color.secondary }};
}

.page-scroll { /* the buttons in the navbar */
	transition: all .3s;
	border-radius: 3px;
	margin-left: 20px;
	padding: 0.2rem 0.6rem;
	background-color: transparent;
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

@media(max-width: 768px) {
	.page-scroll {
		margin-left: 10px;
		font-size: 12px;
	}
}

.welcome {
	height: 100vh; /* This section is adaptively exactly one screenheight tall. Pretty slick. */
	text-align: center;
	padding: 35vh 0; /* for vertical centering */
	color: #fff;
	background-attachment: scroll;
	background-image: url('{{ site.baseurl }}/assets/purple_stars.jpg');
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.welcome .intro-heading {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-size: 75px;
	font-weight: 700;
	line-height: 75px;
	margin-bottom: 25px;
}

.welcome .intro-lead-in {
	font-family: {{ site.font.secondary }};
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
}

@media(max-width:768px) {
	.welcome .intro-heading {
		font-size: 40px;
		line-height: 40px;
	}

	.welcome .intro-lead-in {
		font-size: 22px;
		line-height: 22px;
	}
}

section {
	padding: 30px 30px;
}

aside.clients h2,
section h2.section-heading {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 40px;
}

section h3.section-subheading {
	margin-bottom: 75px;
	text-transform: none;
	font-family: {{ site.font.secondary }};
	font-size: 120%;
	font-style: italic;
	font-weight: 400;
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

#writing .writing-item {
	right: 0;
	margin: 0 0 15px;
}

#writing .writing-item .writing-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 400px;
}

#writing .writing-item .writing-link .writing-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
	background: #3cb371;
}

#writing .writing-item .writing-link .writing-hover:hover {
	opacity: 1;
}

#writing .writing-item .writing-link .writing-hover .writing-hover-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 120%;
	color: #fff;
}

#writing .writing-item .writing-link .writing-hover .writing-hover-content i {
	margin-top: -12px;
}

#writing .writing-item .writing-link .writing-hover .writing-hover-content h3,
#writing .writing-item .writing-link .writing-hover .writing-hover-content h4 {
	margin: 0;
}

#writing .writing-item .writing-caption {
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 5px;
	max-width: 400px;
	min-height: 100px;
	text-align: center;
	background-color: #fff;
}

#writing .writing-item .writing-caption h4 {
	margin: 0;
	text-transform: none;
}

#writing * {
	z-index: 2;
}

@media(min-width:767px) {
	#writing .writing-item {
		margin: 0 0 30px;
	}
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	background-color: #f1f1f1;
}

.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	border: 7px solid #f1f1f1;
	border-radius: 100%;
	text-align: center;
	color: #fff;
	background-color: #{{ site.color.primary }};
}

.timeline>li .timeline-image h4 {
	margin-top: 12px;
	font-size: 100%;
	line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li:last-child {
	margin-bottom: 0;
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}

.timeline .timeline-heading h4.subheading {
	text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
	margin-bottom: 0;
}

@media(min-width:768px) {
	.timeline:before {
		left: 50%;
	}

	.timeline>li {
		margin-bottom: 100px;
		min-height: 100px;
	}

	.timeline>li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}

	.timeline>li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}

	.timeline>li .timeline-image h4 {
		margin-top: 16px;
		font-size: 100%;
		line-height: 18px;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

@media(min-width:992px) {
	.timeline>li {
		min-height: 150px;
	}

	.timeline>li .timeline-panel {
		padding: 0 20px 20px;
	}

	.timeline>li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}

	.timeline>li .timeline-image h4 {
		margin-top: 30px;
		font-size: 100%;
		line-height: 26px;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 20px 20px;
	}
}

@media(min-width:1200px) {
	.timeline>li {
		min-height: 170px;
	}

	.timeline>li .timeline-panel {
		padding: 0 20px 20px 10px;
	}

	.timeline>li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}

	.timeline>li .timeline-image h4 {
		margin-top: 40px;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		padding: 0 10px 20px 20px;
	}
}

aside.clients img {
	margin: 50px auto;
}

section#contact {
	background-color: #222;
	background-image: url('{{ site.baseurl }}/theme/img/map-image.png');
	background-position: center;
	background-repeat: no-repeat;
}

section#contact .section-heading {
	color: #fff;
}

section#contact .form-group {
	margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
	padding: 20px;
}

section#contact .form-group input.form-control {
	height: auto;
}

section#contact .form-group textarea.form-control {
	height: 236px;
}

section#contact .form-control:focus {
	border-color: #{{ site.color.primary }};
	box-shadow: none;
}

section#contact::-webkit-input-placeholder {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: 700;
	color: #bbb;
}

section#contact:-moz-placeholder {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: 700;
	color: #bbb;
}

section#contact::-moz-placeholder {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: 700;
	color: #bbb;
}

section#contact:-ms-input-placeholder {
	text-transform: uppercase;
	font-family: {{ site.font.primary }};
	font-weight: 700;
	color: #bbb;
}

section#contact .text-danger {
	color: #e74c3c;
}

footer {
	padding: 25px 0;
	text-align: center;
	background-color: white;
	position: absolute;
	right: 0;
	left: 0;
}

footer span.copyright {
	text-transform: uppercase;
	text-transform: none;
	font-family: {{ site.font.primary }};
	line-height: 25px;
}

footer ul.quicklinks {
	margin-bottom: 0;
	text-transform: uppercase;
	text-transform: none;
	font-family: {{ site.font.primary }};
	line-height: 40px;
}

.social-buttons {
	margin-bottom: 0px;
}

.social-buttons li a {
	display: table-cell;
	vertical-align: middle;/*"Note that vertical-align only applies to
	inline and table-cell elements: you can't use it to vertically align
	block-level elements."*/
	text-align: center;
	font-size: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	outline: 0;
	color: #fff;
	transition: all .3s;
	background-color: #{{ site.color.secondary-dark }};
}

ul.social-buttons li a:hover {
	background-color: #{{ site.color.primary }};
}

@media(max-width: 768px) {
	ul.social-buttons li a {
		width: 35px;
		height: 35px;
		font-size: 18px;
		margin-right: -7px;
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: 0;
}

.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 140%;
}

.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-family: {{ site.font.secondary }};
	font-size: 100%;
	font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.portfolio-modal .close-modal:hover {
	opacity: .3;
}

.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

::-moz-selection {
	text-shadow: none;
	background: #{{ site.color.primary }};
}

::selection {
	text-shadow: none;
	background: #f2f2f2;
}

img::selection {
	background: 0 0;
}

img::-moz-selection {
	background: 0 0;
}

body {
	webkit-tap-highlight-color: #{{ site.color.primary }};
}