<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top bg-222">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<ul class="list-inline social-buttons">
			{% for link in site.social %}
			<li class="list-inline-item">
				<a href="{{ link.url }}"><i class="{{ link.icon }}"></i></a>
			</li>
			{% endfor %}
		</ul>

		<button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
			&#9776;<!-- three bars symbol -->
		</button>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a href="#welcome"></a></li>
				<li><a class="page-scroll" href="#about">About</a></li>
				<li><a class="page-scroll" href="#projects">Projects</a></li>
				<li><a class="page-scroll" href="#writing">Writing</a></li>
				<li><a class="page-scroll" href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<!--
		{% for page in site.pages %}
		  {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
		{% endfor %}
 -->

