<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<ul class="list-inline social-buttons">
			{% for link in site.social %}
			<li class="list-inline-item">
				<a href="{{ link.url }}"><i class="{{ link.icon }}"></i></a>
			</li>
			{% endfor %}
		</ul>

		<div class="navbar-toggler" data-toggle="collapse" data-target="#menu">
			&#9776;<!-- three bars symbol -->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav ml-auto">
				<a class="nav-link page-scroll" href="#about">About</a>
				<a class="nav-link page-scroll" href="#projects">Projects</a>
				<a class="nav-link page-scroll" href="#writing">Writing</a>
				<a class="nav-link page-scroll" href="#contact">Contact</a>
			</ul>
		</div>
	</div>
</nav>

<!--
		{% for page in site.pages %}
		  {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
		{% endfor %}
 -->

