<!DOCTYPE html>
<html>
  {% include head.html %}

    <body id="page-top" class="index">

    {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hi, I'm Pavel<br></div>
                <div class="intro-lead-in">Electrical and Software Engineer</div>
                <div class="intro-lead-in">Trying to build a website (At least the social links work.)</div>
            </div>
        </div>
    </header>

    {% include intro.html %}
    {% include speakers.html %}
    {% include about.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include speakers_info.html %}
    {% include js.html %}

    </body>
</html>