<!DOCTYPE html>
<html>
  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hi, I'm Pavel<br></div>
                <div class="intro-lead-in">Electrical and Software Engineer</div>
                <div class="intro-lead-in">Trying to build a website</div>
            </div>
        </div>
    </header>

    {% include about.html %}
    {% include projects.html %}
    {% include writing.html %}
    {% include popup.html %}
    <!-- include intro.html This is a fun video section.-->
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>